### Creating a list of dictionaries

In [8]:
names = ["Umair", "Nawaz"]

bio_data = {"first_name": "Umair", "last_name": "Nawaz"}

In [2]:
cde_class = [
    {
        "first_name": "Umair",
        "last_name": "Nawaz",
        "address": "Karachi"
    },
    {
        "first_name": "Muhammad",
        "last_name": "Noman",
        "address": "Lahore"
    },
    {
        "first_name": "Muhammad",
        "last_name": "Salman",
        "address": "Islamabad"
    },
]

In [4]:
names[1]

'Nawaz'

In [5]:
cde_class[1]

{'first_name': 'Muhammad', 'last_name': 'Noman', 'address': 'Lahore'}

In [6]:
cde_class.append({
    "first_name": "Muhammad",
    "last_name": "Naqeeb",
    "address": "Islamabad"
})

cde_class

[{'first_name': 'Umair', 'last_name': 'Nawaz', 'address': 'Karachi'},
 {'first_name': 'Muhammad', 'last_name': 'Noman', 'address': 'Lahore'},
 {'first_name': 'Muhammad', 'last_name': 'Salman', 'address': 'Islamabad'},
 {'first_name': 'Muhammad', 'last_name': 'Naqeeb', 'address': 'Islamabad'}]

In [9]:
bio_data["first_name"]

'Umair'

In [10]:
cde_class[1]["first_name"]

'Muhammad'

In [11]:
for i in names:
    print(i)

Umair
Nawaz

In [13]:
for i in cde_class:
    print(i["last_name"])

Nawaz
Noman
Salman
Naqeeb

### Mini Task:
- Add another student in the list
- print all student first names
- Add Grade for each student and print all the student with grade A

In [14]:
cde_class

[{'first_name': 'Umair', 'last_name': 'Nawaz', 'address': 'Karachi'},
 {'first_name': 'Muhammad', 'last_name': 'Noman', 'address': 'Lahore'},
 {'first_name': 'Muhammad', 'last_name': 'Salman', 'address': 'Islamabad'},
 {'first_name': 'Muhammad', 'last_name': 'Naqeeb', 'address': 'Islamabad'}]

In [15]:
for i in cde_class:
    if i["first_name"] == "Umair":
        i["grade"] = "C"
    elif i["last_name"] == "Noman":
        i["grade"] = "A"
    elif i["last_name"] == "Salman":
        i["grade"] = "B"
    elif i["last_name"] == "Naqeeb":
        i["grade"] = "A"

cde_class

[{'first_name': 'Umair',
  'last_name': 'Nawaz',
  'address': 'Karachi',
  'grade': 'C'},
 {'first_name': 'Muhammad',
  'last_name': 'Noman',
  'address': 'Lahore',
  'grade': 'A'},
 {'first_name': 'Muhammad',
  'last_name': 'Salman',
  'address': 'Islamabad',
  'grade': 'B'},
 {'first_name': 'Muhammad',
  'last_name': 'Naqeeb',
  'address': 'Islamabad',
  'grade': 'A'}]

In [17]:
for i in cde_class:
    if i["grade"] == "A":
        print(i["last_name"], i["grade"])

Noman A
Naqeeb A

### Creating a dictionary that contains lists

In [19]:
store = {
    "fruits": ["Mango", "Apple", "Banana"],
    "drinks": ["Mango Juice", "Apple Juice", "Banana Juice"]
}

In [20]:
store["fruits"]

['Mango', 'Apple', 'Banana']

In [21]:
store["fruits"][1]

'Apple'

In [22]:
store["Medicine"] = ["Flejal", "Rizec"]
store

{'fruits': ['Mango', 'Apple', 'Banana'],
 'drinks': ['Mango Juice', 'Apple Juice', 'Banana Juice'],
 'Medicine': ['Flejal', 'Rizec']}

### Mini Task 2
- Add orange to fruits
- Add another Category in the dictionary

In [23]:
store["fruits"].append("Oragne")
store["fruits"]

['Mango', 'Apple', 'Banana', 'Oragne']

### Creating a dictionary that contains a dictionary

In [24]:
contacts = {
    "Ali": {"phone": 2103213, "email": "ali@email.com"},
    "Mehmood": {"phone": 4350358, "email": "mehmood@email.com"}
}

In [25]:
contacts["Mehmood"]["phone"]

4350358

In [26]:
contacts["Umair"] = {"phone": 23048230, "email": "umair@email.com"}

In [27]:
contacts

{'Ali': {'phone': 2103213, 'email': 'ali@email.com'},
 'Mehmood': {'phone': 4350358, 'email': 'mehmood@email.com'},
 'Umair': {'phone': 23048230, 'email': 'umair@email.com'}}

### Mini Task 3
- Add a new user
- Print his email
- Print all names with their phone number

In [32]:
for i in contacts.keys():
    print(i, contacts[i]['phone'])

Ali 2103213
Mehmood 4350358
Umair 23048230

### Task
    Create a Dictionary called 'company' with 3 different departments (HR, IT, Finance), create a list for each department and store two employee details like name, salary, and experience using a dictionary in each department.

- Print all employees in IT department
- Add a new employee 'Qasim' with salary 55000 and experiecne 1 to HR
- Increase salary of Qasim by 10000.
- Print all employees who have experience more than 3 years (any department).

In [34]:
company = {
    "HR": [
        {
            "name": "Ali", "salary": 40000, "experience": 3
        },
        {
            "name": "Sara", "salary": 30000, "experience": 2
        }
    ],
    "IT": [
        {
            "name": "Umair", "salary": 20000, "experience": 3
        },
        {
            "name": "Ahmed", "salary": 70000, "experience": 5
        }
    ],
    "Finance": [
        {
            "name": "Zara", "salary": 90000, "experience": 6
        },
        {
            "name": "Mehmood", "salary": 80000, "experience": 4
        }
    ]
}

In [36]:
for i in company["IT"]:
    print(i)

{'name': 'Umair', 'salary': 20000, 'experience': 3}
{'name': 'Ahmed', 'salary': 70000, 'experience': 5}

In [38]:
company["HR"].append({'name': 'Qasim', 'salary': 55000, 'experience': 1})

In [40]:
company["HR"]

[{'name': 'Ali', 'salary': 40000, 'experience': 3},
 {'name': 'Sara', 'salary': 30000, 'experience': 2},
 {'name': 'Qasim', 'salary': 55000, 'experience': 1}]

In [45]:
company["HR"][2]["salary"] = company["HR"][2]["salary"] + 10000
company["HR"]

[{'name': 'Ali', 'salary': 40000, 'experience': 3},
 {'name': 'Sara', 'salary': 30000, 'experience': 2},
 {'name': 'Qasim', 'salary': 65000, 'experience': 1}]

In [46]:
company["HR"][2]["salary"]

65000

In [50]:
for i in company:
    for j in company[i]:
        if j["experience"] > 3:
            print(j)

{'name': 'Ahmed', 'salary': 70000, 'experience': 5}
{'name': 'Zara', 'salary': 90000, 'experience': 6}
{'name': 'Mehmood', 'salary': 80000, 'experience': 4}